<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="wrapper :: page">
<head th:fragment="baseHead(title, links)">
    <title>registration</title>
    <link rel="stylesheet" href="register/style.css">
</head>
<body>

<form th:action="@{/register}" method="POST" th:fragment="content" th:object="${registerForm}">
    <div class="form-group">
        <label for="username">User Name</label>
        <input th:field="*{name}" type="text" class="form-control" id="username" name="username" placeholder="User Name">
    </div>
<!--    <div class="container">-->
<!--        {% if form.errors %}-->
<!--        {% for field in form %}-->
<!--        {% for err in field.errors %}-->
<!--        <ins class="col-md-6" style="color: red">{{ err }}</ins>-->
<!--        {% endfor %}-->
<!--        {% endfor %}-->
<!--        {% endif %}-->
<!--    </div>-->
    <div class="form-group">
        <label for="password">Password</label>
        <input th:field="*{password}" type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="chk_password">Password again</label>
        <input th:field="*{checkPassword}" type="password" class="form-control" id="chk_password" name="chk_password" placeholder="Check password">
    </div>
    <div class="buttons_in">
        <button type="submit" class="btn btn-outline-success">Sign In</button>
        <button type="reset" class="btn btn-outline-secondary" id="secondBTN">Reset</button>
    </div>
</form>

</body>
</html>