:root {
  --form-bot: 100px;
  --form-lef: 31%;
}

body{
    background: linear-gradient(rgba(210,255,255,0.9), rgba(210,255,255,0.9)),
    url('./img/shutterstock.jpg'),
    no-repeat center fixed;
    background-size: 100%;
    background-color: LightGreen;
}

@media only screen and (min-device-width : 300px) and (max-device-width : 480px){
    form{
        margin: 20% 25% var(--form-bot) var(--form-lef);
    }
    .buttons_in{
        padding: 0% 1% 0% 10%;
    }
     #secondBTN{
        margin-left: 10px;
    }
    #Registration{
        margin-left: 10px;
    }
}

@media only screen and (min-device-width : 480px) and (max-device-width : 860px){
    form{
        margin: 10% 25% var(--form-bot) var(--form-lef);
    }
    .buttons_in{
        padding: 0% 1% 0% 10%;
    }
     #secondBTN{
        margin-left: 20px;
    }
    #Registration{
        margin-left: 20px;
    }
}

@media only screen and (min-device-width : 860px) and (max-device-width : 1800px){
    form{
        margin: 4% 25% var(--form-bot) var(--form-lef);
    }


@media only screen and (min-device-width : 1800px){
    form{
        margin: 2% 25% var(--form-bot) var(--form-lef);
    }
}

form{
    width: 500px;
}

.buttons_in{
    padding: 0% 1% 0% 11%;
}

#secondBTN{
    margin-left: 30px;
}

#Registration{
	margin-left: 30px;
}

ins{
    color: red;
}