<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="wrapper :: page">
<head th:fragment="baseHead(title, links)">
    <title>authorization</title>
    <link rel="stylesheet" th:href="@{css/login.css}">
</head>
<body>

<form th:action="@{/}" method="POST" th:fragment="content" th:object="${authorization}">
    <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" th:field="*{login}" class="form-control" id="username" name="username" placeholder="Login">
        <ins class="col-md-6" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></ins>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input th:field="*{password}" type="password" class="form-control" id="password" name="password" placeholder="Password">
        <ins class="col-md-6" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></ins>
    </div>
    <div class="form-group" th:if="${errorMessage != null}">
        <ins class="col-md-6" th:text="${errorMessage}"></ins>
    </div>
    <div class="buttons_in">
        <button type="submit" class="btn btn-outline-success">Log In</button>
        <button type="reset" onmouseover="this.style.color='LightSalmon'" onmouseout="this.style.color='DimGray'"
                class="btn btn-outline-secondary" id="secondBTN">Reset</button>
        <button type="button" class="btn btn-outline-info" onClick="location.href='/register'" id="Registration">Registration</button>
    </div>
</form>

</body>
</html>