<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="wrapper :: page">
<head th:fragment="baseHead(title, links)">
    <title>All users</title>
</head>
<body>

<table th:fragment="content" class="table table-bordered table-dark table-hover">
    <thead>
    <tr class="bg-success">
        <th scope="col">Login</th>
        <th scope="col">Name</th>
        <th scope="col">Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${users.empty}">
        <td colspan="3">No users in DB</td>
    </tr>
    <tr th:each="user : ${users}">
        <th scope="row"><span th:text="${user.login}">Login</span></th>
        <td ><span th:text="${user.name}">Name</span></td>
        <td><span th:text="${user.roles}">Role</span></td>
    </tr>
    </tbody>
</table>

</body>
</html>